@xs: 767px;
@sm: 768px;
@md: 992px;
@lg: 1200px;
@xl: 1920px;

@mainColor: #303133;
@normalColor: #606266;
@secColor: #909399;
@plcColor: #C0C4CC;
@blue: #409EFF;

.basic-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
.light-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}