* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  color: #606266;
}
img {
  display: block;  
  -webkit-touch-callout: none;
  pointer-events: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
// .icon {
//   width: 1em;
//   height: 1em;
//   vertical-align: -0.15em;
//   fill: currentColor;
//   overflow: hidden;
// }
input {
  border: none;
  outline: none;
}

body {
  background: #f9f9f9;
}